* {
    padding: 0px;
    margin: 0px;
}

.pulse {
    background-color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 0.5s infinite
}

.react-icon-class {
    height: 5px;
    width: 5px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 80px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media screen and (min-width: 768px) {
    .dashboard-main {
        width: 50vw !important;
    }
}